
body {
  margin: 0;
  padding: 0;
  background-color: #000; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.app-wrapper {
  min-height: 100vh;
}

.header-section {
  background-color: #fdd835; 
  color: #000;
}

.header-section h3 {
  font-weight: 700;
}

.form-card {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(6px);
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  border-left: 6px solid #fdd835;
}

.btn-add {
  background-color: #f8b500;
  border: none;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

.btn-add:hover {
  background-color: #e09e00;
}

.note-card {
  background-color: #fdd835;
   animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: 0.2s ease;
  color: #000;
}

.note-card:hover {
  transform: scale(1.03);
}

.btn-delete {
  background-color: transparent;
  border: none;
  color: #d32f2f;
  font-size: 1.2rem;
}

.blink {
  animation: blinkAnimation 0.8s ease-in-out;
}

@keyframes blinkAnimation {
  0% {
    background-color: #fff59d;
    transform: scale(1.05);
  }
  50% {
    background-color: #fbc02d;
  }
  100% {
    background-color: #fdd835;
    transform: scale(1);
  }
}
